# https://snarky.ca/what-the-heck-is-pyproject-toml/

[build-system]
requires = ["setuptools", "setuptools_scm", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
version_scheme = "no-guess-dev"
local_scheme = "node-and-date"
fallback_version = "0.0.0"
write_to = "intake_esgf/_version.py"
write_to_template = '__version__ = "{version}"'

[tool.pytest.ini_options]
console_output_style = "count"
addopts = "--cov=intake_esgf --cov-report=xml --verbose -m 'not globus_auth'"
markers = [
    "globus_auth: tests which require globus authentication",
]

[tool.coverage.run]
omit = ["*/intake_esgf/tests/*"]

[tool.ruff]
target-version = "py310"
ignore = [
    "E501", # line too long - let black worry about that
]
select = [
    "F",  # Pyflakes
    "E",
    "W",  # Pycodestyle
    "I",  # isort
    "UP", # Pyupgrade
]

[tool.ruff.isort]
known-first-party = ["intake_esgf"]
